# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = gnats.settings

[deploy]
url = http://jcnrd.us:6800/
project = gnats
